---
import Footer from '@/components/footer/Footer.vue';
import HeaderDesktop from '@/components/header/HeaderDesktop.vue';
import HeaderMobile from '@/components/header/HeaderMobile.vue';
import { headerLinks } from '@/components/header/headerLinks.js';

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html
  lang='en'
  class='scroll-smooth'
>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='theme-color'
      content='rgba(250, 250, 250, 1)'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />

    <!-- Google tag (gtag.js) -->
    <script
      type='text/partytown'
      async
      src='https://www.googletagmanager.com/gtag/js?id=G-KVRR2BBBX7'
    ></script>
    <script type='text/partytown'>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-KVRR2BBBX7');
    </script>

    <!-- Cookiebot -->
    <script
      type='text/partytown'
      id='Cookiebot'
      src='https://consent.cookiebot.com/uc.js'
      data-cbid='5beaa7f4-7e9b-4fc4-b3b5-aef7f70eaf29'
    ></script>

    <title>{title}</title>
  </head>

  <body>
    <HeaderMobile
      client:load
      links={headerLinks}
      class='lg:hidden'
    />
    <HeaderDesktop
      client:load
      links={headerLinks}
      class='hidden lg:block'
    />
    <slot />
    <Footer
      id='contact'
      client:load
    />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Du Nord';
    src: url('/fonts/DuNord/DuNord-Regular.eot');
    src:
      url('/fonts/DuNord/DuNord-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/DuNord/DuNord-Regular.woff2') format('woff2'),
      url('/fonts/DuNord/DuNord-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: block;
  }

  @font-face {
    font-family: 'Du Nord';
    src: url('/fonts/DuNord/DuNord-DemiBold.eot');
    src:
      url('/fonts/DuNord/DuNord-DemiBold.eot?#iefix')
        format('embedded-opentype'),
      url('/fonts/DuNord/DuNord-DemiBold.woff2') format('woff2'),
      url('/fonts/DuNord/DuNord-DemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: block;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWK_Lausanne/TWKLausanne-150.eot');
    src:
      url('/fonts/TWK_Lausanne/TWKLausanne-150.eot?#iefix')
        format('embedded-opentype'),
      url('/fonts/TWK_Lausanne/TWKLausanne-150.woff2') format('woff2'),
      url('/fonts/TWK_Lausanne/TWKLausanne-150.woff') format('woff'),
      url('/fonts/TWK_Lausanne/TWKLausanne-150.ttf') format('truetype');
    font-style: normal;
    font-weight: 150;
    font-display: block;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWK_Lausanne/TWKLausanne-350.eot');
    src:
      url('/fonts/TWK_Lausanne/TWKLausanne-350.eot?#iefix')
        format('embedded-opentype'),
      url('/fonts/TWK_Lausanne/TWKLausanne-350.woff2') format('woff2'),
      url('/fonts/TWK_Lausanne/TWKLausanne-350.woff') format('woff'),
      url('/fonts/TWK_Lausanne/TWKLausanne-350.ttf') format('truetype');
    font-style: normal;
    font-weight: 350;
    font-display: block;
  }

  @font-face {
    font-family: 'TWKLausanne';
    src: url('/fonts/TWK_Lausanne/TWKLausanne-600.eot');
    src:
      url('/fonts/TWK_Lausanne/TWKLausanne-600.eot?#iefix')
        format('embedded-opentype'),
      url('/fonts/TWK_Lausanne/TWKLausanne-600.woff2') format('woff2'),
      url('/fonts/TWK_Lausanne/TWKLausanne-600.woff') format('woff'),
      url('/fonts/TWK_Lausanne/TWKLausanne-600.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: block;
  }
</style>
